name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.21
      id: go

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Install stringer
      run: go install golang.org/x/tools/cmd/stringer@latest

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Generate client code
      run: go generate ./...

    - name: Run TCPgen
      run: go run -v cmd/zusi-tcpgen/main.go

    - name: Test
      run: go test -v -bench=. -cover -benchmem -race ./...

    - name: Build TestClient
      run: go build -v cmd/zusi-testclient/main.go
